# Backend API URL
VITE_API_URL=http://localhost:8000

# Legal Links
VITE_TERMS_OF_SERVICE=https://gamerie-platform-bolt.github.io/gamerie-terms-of-service/
VITE_PRIVACY_POLICY=http://gamerie-platform-bolt.github.io/gamerie-privacy-policy/

# Registration Link
VITE_REGISTER_URL=https://mvp.gamerie.gg/register
